page-baidu-map {
  #map_container{
    width: 100%;
    height: 80%;
  }
  #btn-location{
    position: relative;
    top: 10px;
    left: 0;
    z-index: 999;
  }
  .btn_loaction{
    padding-right:10px;
  }
}
